.carousel {
    border: 2px solid black;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
}

.carousel span {
    cursor: pointer;
    margin: 0 10px;
}