.flashcardheader {
    width: 100%;
    position: absolute;
    top: 6rem;
    display: flex;
    justify-content: space-between;
}

.flashcardheader div {
    padding: 10px;

}

.flashcardheader span {
    padding: 10px;
    cursor: pointer;
}