.copymodal {
    border: 1px solid black;
    position: absolute;
    top: 30vh;
    left: 40vw;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.copybuttons {
    display: flex;
}